[submodule "familytree-node"]
	path = familytree-node
	url = https://github.com/BaezCrdrm/test.git
	branch = backend-node
[submodule "familytree-spring"]
	path = familytree-spring
	url = https://github.com/BaezCrdrm/test.git
	branch = backend-spring
[submodule "familytree-react"]
	path = familytree-react
	url = https://github.com/BaezCrdrm/test.git
	branch = frontend
