[submodule "backend-node"]
	path = backend-node
	url = https://github.com/BaezCrdrm/test.git
	branch = backend-node
[submodule "backend-spring"]
	path = backend-spring
	url = https://github.com/BaezCrdrm/test.git
	branch = backend-spring
[submodule "frontend"]
	path = frontend
	url = https://github.com/BaezCrdrm/test.git
	branch = frontend-react
